* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #e2eff4;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.nav{
    display: flex;
    justify-content: space-between;
    height: 15vh;
    background-color: rgb(41, 137, 150) ;
    position: relative;
    position: sticky;
    top: 0;
    z-index: 25;
}

.logo{
    position: absolute;
    height: 15vh;
    left: 13px;
    top: 3px;
}

.smt{
    color: white;
    position: absolute;
    font-size: 30px;
    left: 100px;
    top: 30px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.nav-items {
    margin-left: 250px;
    width: 60vw;
    display: flex;
    justify-content: center;
}

.nav-item {
    position: relative;
}

.on{
    font-size: 20px;
    font-weight: 300;
    width: 100%;
    height: 15vh;
    align-items: center;
    margin: auto;
    text-align: center;
}

.nav-item  a {
    display: block;
    padding: 35px 50px;
    color: white;
    text-decoration: none;
    
}

.nav-item  a:hover {
    color:rgb(41, 137, 150) ;
    background-color: aliceblue;
    transition: 1s;
}

.nav-item:hover .dropdown {
    display: block;
    z-index: 15;
}

.dropdown1 {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    list-style: none;
    margin: 0;
    padding: 0;
    min-width: 162px;
}

.dropdown1 li {
    border-bottom: 1px solid #444;
}

.dropdown1 li a {
    padding: 12px 10px;
    color: white;
    text-decoration: none;
    display: block;
}

.dropdown1 li a:hover {
    background-color: #575757;
}

.nav-item:hover .dropdown1 {
    display: block;
    z-index: 15;
}

#active {
    color:rgb(41, 137, 150) ;
    background-color: aliceblue;
}

#active a{
    color:rgb(41, 137, 150) ;
}

.member{
    margin-top: 35px;
    margin-right: 50px;
    padding-right: 30px;
}

.member a{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
}

.member a:hover{
    color: rgb(17, 106, 117);
    
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

  .overlay {
    position: absolute;
    top: 27.3%;
    left: 15.3%;
    height: 90vh;
    width: 70vw;
    background: rgba(0, 0, 0, 0.5); /* Change this value to adjust darkness */
    z-index: 5;
}
  
  .mySlides {
    margin-top: 80px;
    display: none;
    margin-left: 215px;
  }


  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 67%;
    width: auto;
    padding: 16px;
    color: rgb(24, 24, 24);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    
  }
  
  .next {
    top: 69.5%;
    right: 153px;
    z-index: 13;
  }

  .prev{
    left: 173.5px;
    z-index: 13;
  }
  
  
  .prev:hover, .next:hover {
    background-color: rgba(54, 57, 58, 0.8);
    opacity: 1;
  }

  .text{
    color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60%;
    left: 27%;
    z-index: 10;
    text-align: center;
    width: 50vw;
  }

  .text a{
    text-decoration: none;
    color: white;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
  }

  .text p{
    color: #bbb;
  }
  

  .dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 10px;
    margin-top: 20px;
    background-color: #89c6d3;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 100px;
  }
  
  .active, .dot:hover {
    background-color: #2d6d7b;
    
  }
  

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

.recentblog{
    width: 90vw;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.blog{
    width: 25vw;
    height: 70vh;
    background-color: #ffffff;
    margin-bottom: 50px;
    box-shadow: 2px 5px 3px gray;
}


.blog img{
    width: 25vw;
    height: 32vh;
}

.innertext {
    display: flex;
    flex-direction: column;
    width: 20vw;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

.innertext a{
    text-decoration: none;
}

.country{
    color: #4a4a4a;
}

.place{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 25px;
    color: #286471;
    margin-top: 20px;
    margin-bottom: 30px;
}

.country:hover{
    color: #000000;
    transition: 1s;
}

.place:hover{
    color: #12373f;
    transition: 1s;
}

.expand a {
    text-decoration: none;
    color: aliceblue;
    margin-top: 30px;
    background-color: #12373f;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 3px 5px black;
}

.expand a:hover{
    background-color: aliceblue;
    transition: 1s;
    color: #12373f;
    box-shadow: 3px 3px 10px rgb(62, 62, 62);
}


.footer{
    display: flex;
    justify-content: space-around;
    margin-top: -5px;
    color: white;
    background-color: rgb(30, 30, 30);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 90px;
    position: relative;
}

.logoFooter{
    position: absolute;
    width: 6vw;
    top: 30px;
    left: 16%;
}

.innerFooter{
    width: 36vw;
    padding-left: 180px;
}

.innerFooter h1{
    margin-bottom: 25px;
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
}

.innerFooter p{
    margin-right: 90px;
    margin-bottom: 5px;
}

.innerFooter1{
    width: 30vw;
}

.innerFooter1 h1{
    text-align: left;
    padding-left: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(186, 186, 186);
}

.innerFooter1 p{
    text-align: left;
    margin-top: 20px;
}

.sm {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-right: 100px;
}

.sm a {
    width: 3vw;
    text-align: center;
    text-decoration: none;
    color: white;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 5px;
    border-radius: 40px;
}

.facebook{
    background-color: rgb(108, 126, 216);
}

.facebook i {
    color: white;
}

.facebook:hover{
    box-shadow: 0px 5px 15px rgb(45, 62, 150);
    transition: 1s;
}

.google{
    background-color: rgb(231, 125, 125);;
}

.google i {
    color: white;
}

.google:hover{
    box-shadow: 0px 5px 15px rgb(224, 91, 91);
    transition: 1s;
}

.twitter{
    background-color: rgb(64, 64, 64);
}

.twitter i {
    color: white;
}

.twitter:hover{
    box-shadow: 0px 5px 15px rgb(41, 41, 41);
    transition: 1s;
}

.rcm{
    background-color: white;
    padding-top: 90px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 90px;
    margin-top: 100px;
}

.right{
    display: flex;
    flex-direction: row;
    margin-right: 90px;
}

.right h3{
    margin-right: 20px;
}

.site{
    margin-left: 190px;
}

.left{
    width: 50vw;
    margin-left: 60px;
    border-top: 1px solid rgb(207, 207, 207);
}

.left h3{
    margin-bottom: 90px;
    padding-top: 20px;
    border-top: 3px solid black;
    display: inline-block;
}

.popular {
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
}

.view {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    margin-right: 50px;
}

.view img{
    width: 70px;
    height: 70px;
    margin-right: 20px;
}

.content{
    display: flex;
    flex-direction: column;
}

.content h4{
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.blogItem{
    display: flex;
    flex-direction: column;
}

.blogsChild h3{
    margin-bottom: 30px;
    padding-top: 20px;
    border-top: 3px solid black;
    display: inline-block;
}

.blogsChild{
    border-top: 1px solid rgb(207, 207, 207);
    margin-right: -100px;
    padding-right: 30px;
}

.blogItem a{
    text-decoration: none;
    color: #575757;
    padding-bottom: 20px;
    padding-top: 15px;
    border-bottom: 1px solid rgb(226, 226, 226);
}

.site h3{
    margin-bottom: 30px;
    padding-top: 20px;
    border-top: 3px solid black;
    display: inline-block;
}

.site{
    border-top: 1px solid rgb(207, 207, 207);
    padding-right: 40px;
}

















